
/* HOME PAGE */ 

@font-face {
    font-family: 'co-text';
    src: url('CoText-Light.eot');
    src: url('CoText-Light.eot?#iefix') format('embedded-opentype'),
        url('CoText-Light.woff2') format('woff2'),
        url('CoText-Light.woff') format('woff'),
        url('CoText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    background: var(--bg-color) !important;
    font-family: 'Gotham', sans-serif !important;
}

.hero {
    height: 100vh;
    background-color: #944E63 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/heros/landing-page-hero.png");
}

.logo {
    height: 4.5em;
}

.navbar-text-home,
.navbar-text {
    font-family: 'Gotham', sans-serif !important;
    color: #ffe7e7 !important;
    font-size: 1.3em !important;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: .4rem;
}

.nav-link {
    padding-top: 1.5em;
    color: #ffe7e7 !important;
}

.nav-link:hover {
    color: #CAA6a6 !important;
}

#hero-heading {
    letter-spacing: .3rem;
    font-size: 5em;
}

#hero-subheading {
    letter-spacing: .4rem;
    font-size: 1.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.navbar-brand,
.home-link,
.about-link,
.gallery-link,
.contact-link {
    color: white
}

#book,
#laptop,
#user {
    color: #944E63;
}

.background-text,
.education-text,
.experience-text {
    text-align: left !important;
    font-family: 'Gotham', sans-serif !important;
}

/* buttons */

.linkedin-btn {
    padding-top: 0.5em !important;
    color: white !important;
    background-color: #944E63 !important;
    border-color: #944E63 !important;
}

.projects-btn {
    color: white !important;
    background-color: #944E63 !important;
    border-color: #944E63 !important;
    letter-spacing: 0.05em !important;
}

.linkedin-btn:hover {
    padding-top: 0.5em !important;
    color: #944E63 !important;
    background-color: white !important;
    border-color: #944E63 !important;
}

.projects-btn:hover {
    color: #944E63 !important;
    background-color: white !important;
    border-color: #944E63 !important;
    letter-spacing: 0.05em !important;
}

#btn-linkedin-logo {
    margin-top: .2em
}

#btn-linkedin-logo:hover {
    color: #944E63 !important;
    margin-top: .2em
}

.contact-btn {
    background-color: #ffffff !important;
    color: #B47B84 !important;
    letter-spacing: 0.05em !important;
}

.contact-btn:hover {
    background-color: #B47B84 !important;
    color: #ffffff !important;
    letter-spacing: 0.05em !important;
}

.back-to-top-btn {
    background-color: #944E63 !important;
    color: #ffffff !important;
    letter-spacing: 0.05em !important;
    text-align: center !important;
    margin-right: 2em !important;
}

.back-to-top-btn:hover {
    background-color: #ffffff !important;
    color: #944E63 !important;
    border-color: #944E63 !important;
    letter-spacing: 0.05em !important;
}

.back-to-top-btn:hover > #footer-back-to-top-icon {
    color: #944E63 !important;
}

#portfolio img {
    height: 300px;
    object-fit: cover;
}

#about {
    padding-top: 8.5em;
}

#projects {
    padding-top: 8em;
    padding-bottom: 16em;
}

#about .img,
#about img,
.hire-text h2 {
    position: relative;
}

#about .img::before {
    content: "";
    left: 50%;
    width: 4px;
    position: absolute;
    height: calc(100% + 140px);
    background: var(--gray-color);
}

#about img,
#about .hire-text h2 {
    width: 140px;
}

#about .hire-text h2 {
    height: 140px;
}

#cv img {
    width: 230px;
}

#contact {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #B47B84;
    background-image: url("../images/heros/contact-hero.png");
}

.contact-form-label {
    color: #ffffff
}

.copyright {
    font-family: 'Gotham', sans-serif !important;
    font-size: 1em;
}

#footer-back-to-top-icon {
    color : #ffffff;
    margin-left: 0.2em;
}

#footer-back-to-top-link {
    margin-left: 8px;
    margin-right: 8px;
}

.footer-instagram-logo {
    width: 1.8em;
    height: 1.8em;
}

#footer-linkedin-logo {
    color: #0077B5 !important;
}
  
@media screen and (max-width: 500px) {
    .navbar-text-home {
        display: none;
    }

    .profile-pic {
        margin-top: 5em;
        width: 160px;
        height: 160px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 1400px) {
    .navbar-text {
        margin-left: 1em;
    }
}

@media screen and (max-width: 990px) {
    .back-to-top-btn {
        display: none;
    } 

    #about .card {
        width: calc(100% / 2 - 10px) !important;
    }
}

@media screen and (max-width: 668px) {
    #about .card,
    #portfolio .card-wrapper {
        width: 100% !important;
    }

    #hero-heading {
        font-size: 3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    #hero-subheading {
        font-size: 0.8em;
        padding-left: 2em;
        padding-right: 2em;
    }
}

/* portfolio section */

.portfolio {
    padding: 60px 0;
}

.portfolio .portfolio-wrap {
    border-width: 1px;
    border-color: #d2d2d2;
    border-style: solid;
    border-radius: 0.375rem;
    transition: 0.3s;
}

.portfolio .portfolio-wrap:hover {
    border-width: 1px;
    border-color: #d2d2d2;
    border-style: solid;
    border-radius: 0.375rem;
}

.portfolio .portfolio-item {
    position: relative;
    height: 360px;
    overflow: hidden;
}

.portfolio .portfolio-item figure {
    background: #ffffff;
    overflow: hidden;
    height: 240px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

.portfolio .portfolio-item figure:hover img {
    opacity: 0.4;
    transition: 0.4s;
}

.portfolio .portfolio-item figure .link-preview,
.portfolio .portfolio-item figure .link-details {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    line-height: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    background: #944E63 !important;
    color: transparent;
    border-radius: 50%;
    transition: all 0.2s linear;
    overflow: hidden;
    font-size: 20px;
}

.portfolio .portfolio-item figure .link-preview {
    left: 65%;
    top: 45%;
}

.portfolio .portfolio-item figure:hover .link-preview {
    opacity: 1;
    left: 45%;
}

.portfolio .portfolio-item .portfolio-info {
    border-top-width: 1px;
    border-top-color: #d2d2d2;
    border-top-style: solid;
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 90px;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    line-height: 1px;
    margin-bottom: 18px;
    padding-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info h4 a {
    color: #333;
}

.portfolio .portfolio-item .portfolio-info h4 a:hover {
    color: #3498db;
}

.portfolio .portfolio-item .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
}

.portfolio-details {
    padding-top: 0;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #3498db;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #3498db;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(56, 64, 70, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}

#image-icon {
    color: #ffffff !important;
}

.project1-img,
.project2-img,
.project3-img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .project1-img,
    .project2-img,
    .project3-img {
        height: 100%;
        position: absolute;
        width: auto;
        left: -1.8em
    }
}

@media screen and (max-width: 1200px) {
    .project1-img,
    .project2-img,
    .project3-img {
        height: 100%;
        position: absolute;
        width: auto;
        left: -3.6em
    }
}

@media screen and (max-width: 990px) {
    .project1-img,
    .project2-img,
    .project3-img {
        height: 100%;
        position: absolute;
        width: auto;
        left: -2.3em;
    }
}

@media screen and (max-width: 767px) {
    .project1-img,
    .project2-img,
    .project3-img {
        height: 100%;
        position: absolute;
        width: auto;
        left: 3em;
    }
}

@media screen and (max-width: 600px) {
    .project1-img,
    .project2-img,
    .project3-img {
        height: 100%;
        position: absolute;
        width: auto;
        left: 3em;
    }
}

@media screen and (max-width: 500px) {
    .project1-img,
    .project2-img,
    .project3-img {
        height: 100%;
        position: absolute;
        width: auto;
        left: 2em;
    }
}

@media screen and (max-width: 550px) {
    .project1-img,
    .project2-img,
    .project3-img {
        height: 100%;
        position: absolute;
        width: auto;
    }
}

@media screen and (max-width: 490px) {
    .project1-img,
    .project2-img,
    .project3-img {
        height: 100%;
        position: absolute;
        width: auto;
        left: -1.3em;
    }
}

@media screen and (max-width: 400px) {
    .project1-img,
    .project2-img,
    .project3-img {
        height: 100%;
        position: absolute;
        width: auto;
        left: -1.8em;
    }
}

@media screen and (max-width: 300px) {
    .project1-img,
    .project2-img,
    .project3-img {
        height: 100%;
        position: absolute;
        width: auto;
        left: 1em;
    }
}

.form-floating input {
    height: 3em;
}

/* 404 PAGE */

.page-not-found-hero {
    height: 100vh;
}

/* PROJECTS PAGE */

.container.projects-container {
    margin-top: 10em !important;
}

#projects-header {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 9em !important;
    padding-bottom: 6em !important;
    background-color: #FFE7E7;
}

.basic-1 {
	padding-top: 9rem;
	padding-bottom: 5rem;
}

.basic-1 .image-container {
	margin-bottom: 4rem;
}

.basic-1 .image-container img {
    object-fit: cover;
    border-radius: 10px !important;
}

.basic-1 h2 {
	margin-bottom: 1.5rem;
}

.basic-2 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.basic-2 .image-container {
	margin-bottom: 4rem;
}

.basic-2 .image-container img {
    object-fit: cover;
}

.basic-2 h2 {
	margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
    .basic-1 .image-container,
    .basic-2 .image-container {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .basic-1 .text-container,
    .basic-2 .text-container {
        margin-top: 4rem;
        margin-left: 4rem;
    }
}

.projects-learn-more-btn {
    color: #944E63 !important;
    background-color: white !important;
    border-color: #944E63 !important;
    letter-spacing: 0.05em !important;
}

.projects-learn-more-btn:hover {
    color: white !important;
    background-color: #944E63 !important;
    border-color: #944E63 !important;
    letter-spacing: 0.05em !important;
}
 
.inner-page .slider-item{
    position:relative;
    height:calc(70vh);
    min-height:550px
}
 
.inner-page .slider-item .slider-text{
    color:#ffffff;
    height:calc(50vh - 117px);
    min-height:550px
}

.slider-item {
    height: 100vh;
    background-color: #ffffff !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/heros/projects-hero.png");
}

.slider-item .slider-text {
    color: #ffffff;
    height: calc(100vh);
    min-height: 700px;
}

.slider-item .slider-text .child-name {
    font-size: 40px;
    color:#ffffff;
}

.slider-item .slider-text h1 {
    font-family: 'Gotham', sans-serif !important; 
    font-size: 6rem;
    color: #ffffff;
    line-height: 1.2;
    font-weight: 700!important;
    margin-bottom: 30px;
}

.slider-item .slider-text h1 span {
    font-family: 'Gotham', sans-serif !important; 
    color: white;
    background-color: #ffffff;
    -webkit-box-shadow: 0.5em 0 0 #ffffff, -0.5em 0 0 #ffffff;
    box-shadow: 0.5em 0 0 #ffffff, -0.5em 0 0 #ffffff;
}

@media (max-width: 991.98px) {
    .slider-item .slider-text h1 {
        font-size: 3rem;
    }
}

.slider-item .slider-text p {
    line-height: 1.5;
    font-weight: 300;
    color: #ffffff;
    margin: 0 auto
}

.slider-item .slider-text p a {
    z-index: 2;
    color: #ffffff;
    text-decoration: underline;
}

.slider-item .slider-text p a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.slider-item .slider-text p.sub-text {
    line-height: 2;
}

.custom-breadcrumbs {
    font-size: 1.5rem !important;
}

.custom-breadcrumbs a {
    z-index: 2;
    display: inline-block;
    font-size: 1.5rem!important;
    text-decoration: underline;
    color: #fff!important
}
