
.logo {
    width: 8em;
    height: 5em;
}

.navbar-text {
    font-family: 'Gotham', sans-serif !important;
    color: #ffe7e7 !important;
    font-size: 1.3em !important;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: .4rem;
}

.nav-link {
    color: #ffe7e7 !important;
}

.nav-link:hover {
    color: #CAA6a6 !important;
}

#hero-heading {
    letter-spacing: .3rem;
    font-size: 5em;
}

#hero-subheading {
    letter-spacing: .4rem;
    font-size: 1.3em;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.navbar-brand,
.home-link,
.about-link,
.gallery-link,
.contact-link {
    color: white
}

#book,
#laptop,
#user {
    color: #944E63;
}

.background-text,
.education-text,
.experience-text {
    text-align: left !important;
}

.linkedin-btn {
    color: white !important;
    background-color: #B47B84 !important;
    border-color: #B47B84 !important;

}

.linkedin-btn:hover {
    color: #B47B84 !important;
    background-color: white !important;
    border-color: #B47B84 !important;
    
}

#btn-linkedin-logo {
    margin-top: .2em
}

#btn-linkedin-logo:hover {
    color: #B47B84 !important;
    margin-top: .2em
}

:root {
    --white-color: #fff;
    --bg-color: #fff;
    --gray-color: #ccc;
}

body {
    background: var(--bg-color) !important;
    font-family: 'Gotham', sans-serif !important;
}

.nav-item .nav-link {
    color: var(--white-color);
}

.hero {
    height: 100vh;
    background-color: #944E63 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/hero.png");
}

#skills i {
    height: 100px;
    width: 100px;
}

#portfolio img {
    height: 300px;
    object-fit: cover;
}

#about .img,
#about img,
.hire-text h2 {
    position: relative;
}

#about .img::before {
    content: "";
    left: 50%;
    width: 4px;
    position: absolute;
    height: calc(100% + 140px);
    background: var(--gray-color);
}

#about img,
#about .hire-text h2 {
    width: 140px;
}

#about .hire-text h2 {
    height: 140px;
}

.social-icons a {
    width: 40px;
    height: 40px;
}

footer .social-icons a {
    width: 30px;
    height: 30px;
}

#footer-linkedin-logo {
    color: #0077B5 !important;
}

#cv img {
    width: 230px;
}

#contact {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #B47B84;
    /* background-image: url("../images/contact-bg.jpeg"); */
}

.contact-btn:hover {
    color: #B47B84 !important;
}

.copyright {
    font-family: 'Gotham', sans-serif !important;
}

@media screen and (max-width: 500px) {
    .navbar-text {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    #about .card {
        width: calc(100% / 2 - 10px) !important;
    }
}

@media screen and (max-width: 668px) {
    #about .card,
    #portfolio .card-wrapper {
        width: 100% !important;
    }

    #about .hire-text h2 {
        height: 70px;
        width: 70px;
    }   
}