
body {
   background: var(--bg-color) !important;
   font-family: 'Gotham', sans-serif !important;
}

.navbar-text-home,
.navbar-text {
   font-family: 'Gotham', sans-serif !important;
   color: #ffe7e7 !important;
   font-size: 1.3em !important;
   vertical-align: middle;
   text-transform: uppercase;
   letter-spacing: .4rem;
}

.nav-bar {
   height: 4.6em;
}

.nav-link {
   padding-top: 1.3em;
   color: #ffe7e7 !important;
}

.nav-link:hover {
   color: #CAA6a6 !important;
}

.navbar-brand,
.home-link,
.about-link,
.gallery-link,
.contact-link {
   color: white
}

.nav-item .nav-link {
   color: var(--white-color);
}

@media screen and (max-width: 1400px) {
    .navbar-text {
      margin-left: 1em;
    }
}

.inner-page .slider-item,
.inner-page .slider-item-brand-guide {
   position:relative;
   height:calc(70vh);
   min-height:550px
}

.inner-page .slider-item .slider-text,
.inner-page .slider-item-brand-guide .slider-text {
   color:#fff;
   height:calc(50vh - 117px);
   min-height:550px
}

#footer-back-to-top-icon {
   color : #ffffff;
   margin-left: 0.2em;
}

#footer-back-to-top-link {
   margin-left: 8px;
   margin-right: 8px;
}

.footer-instagram-logo {
   width: 1.8em;
   height: 1.8em;
}

#footer-linkedin-logo {
   color: #0077B5 !important;
}

.back-to-top-btn {
   background-color: #944E63 !important;
   color: #ffffff !important;
   letter-spacing: 0.05em !important;
   text-align: center !important;
   margin-right: 2em !important;
}

.back-to-top-btn:hover {
   background-color: #ffffff !important;
   color: #944E63 !important;
   border-color: #944E63 !important;
   letter-spacing: 0.05em !important;
}

.back-to-top-btn:hover > #footer-back-to-top-icon {
   color: #944E63 !important;
}

.slider-item {
   height: 100vh;
   background-color: #ffffff !important;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.slider-item-brand-guide {
   height: 100vh;
   background-color: #ffffff !important;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-image: url("../images/heros/brand-guide-page-hero.png");
}

.slider-item-boba-bar {
   height: 100vh;
   background-color: #ffffff !important;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-image: url("../images/heros/boba-bar-hero.png");
}

.slider-item-campsite-companions {
   height: 100vh;
   background-color: #ffffff !important;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-image: url("../images/heros/campsite-companions-hero.png");
}

.slider-item-communications-certificate {
   height: 100vh;
   background-color: #ffffff !important;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-image: url("../images/heros/communications-certificate-hero.png");
}

.slider-item-crochet {
   height: 100vh;
   background-color: #ffffff !important;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-image: url("../images/heros/crochet-hero.png");
}

.slider-item:before,
.slider-item-brand-guide:before,
.slider-item-boba-bar:before,
.slider-item-campsite-companions:before,
.slider-item-communications-certificate:before,
.slider-item-crochet:before {
   content:"";
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   opacity:.3
}

.slider-item .slider-text,
.slider-item-brand-guide .slider-text,
.slider-item-boba-bar .slider-text,
.slider-item-campsite-companions .slider-text,
.slider-item-communications-certificate .slider-text,
.slider-item-crochet .slider-text {
   color:#fff;
   height:calc(100vh);
   min-height:700px
}

.slider-item .slider-text .child-name
.slider-item-brand-guide .slider-text .child-name 
.slider-item-boba-bar .slider-text .child-name,
.slider-item-campsite-companions .slider-text .child-name,
.slider-item-communications-certificate .slider-text .child-name,
.slider-item-crochet .slider-text .child-name {
   font-size:40px;
   color:#fff
}

.slider-item .slider-text h1,
.slider-item-brand-guide .slider-text h1,
.slider-item-boba-bar .slider-text h1,
.slider-item-campsite-companions .slider-text h1,
.slider-item-communications-certificate .slider-text h1,
.slider-item-crochet .slider-text h1 {
   font-family: 'Gotham', sans-serif !important; 
   font-size:6rem;
   color:#fff;
   line-height:1.2;
   font-weight:700!important;
   margin-bottom:30px
}

.slider-item .slider-text h1 span,
.slider-item-brand-guide .slider-text h1 span 
.slider-item-boba-bar .slider-text h1 span,
.slider-item-campsite-companions .slider-text h1 span,
.slider-item-ccommunications-certificate .slider-text h1 span,
.slider-item-crochet .slider-text h1 span {
   font-family: 'Gotham', sans-serif !important; 
   color:white;
}

@media (max-width:991.98px) {
   .slider-item .slider-text h1,
   .slider-item-brand-guide .slider-text h1,
   .slider-item-boba-bar .slider-text h1,
   .slider-item-campsite-companions .slider-text h1,
   .slider-item-communications-certificate .slider-text h1,
   .slider-item-crochet .slider-text h1 {
       font-size:3rem
   }
}

.slider-item .slider-text p,
.slider-item-brand-guide .slider-text p,
.slider-item-boba-bar .slider-text p, 
.slider-item-campsite-companions .slider-text p,
.slider-item-communications-certificate .slider-text p,
.slider-item-crochet .slider-text p {
   line-height:1.5;
   font-weight:300;
   color:white;
   margin:0 auto
}

.slider-item .slider-text p a,
.slider-item-brand-guide .slider-text p a,
.slider-item-boba-bar .slider-text p a,
.slider-item-campsite-companions .slider-text p a,
.slider-item-crochet .slider-text p a {
   text-decoration:underline
}

.slider-item .slider-text p a:hover,
.slider-item-brand-guide .slider-text p a:hover,
.slider-item-boba-bar .slider-text p a:hover,
.slider-item-campsite-companions .slider-text p a:hover,
.slider-item-communications-certificate .slider-text p a:hover,
.slider-item-crochet .slider-text p a:hover {
   color:#fff;
   text-decoration:underline
}

.slider-item .slider-text p.sub-text,
.slider-item-brand-guide .slider-text p.sub-text,
.slider-item-boba-bar .slider-text p.sub-text,
.slider-item-campsite-companions .slider-text p.sub-text,
.slider-item-communications-certificate .slider-text p.sub-text,
.sslider-item-crochet .slider-text p.sub-text {
   line-height:2
}

.custom-breadcrumbs {
   font-size:1.5rem!important
}

.custom-breadcrumbs a {
   display:inline-block;
   font-size:1.5rem!important;
   text-decoration:underline;
   color:#fff!important
}

.block-fixed {
   position:sticky;
   position:-webkit-sticky;
   top:7em;
}

#projects-details-section {
   margin-top: 5em;
}

.toc-text {
   color: black !important;
}

.toc-link {
   text-decoration-color: black !important
}

.boba-bar-visit-website-btn {
   background-color: #698ebf !important;
   color: #ffffff !important;
   letter-spacing: 0.05em !important;
   text-align: center !important;
   margin-right: 2em !important;
}

.boba-bar-visit-website-btn:hover {
   background-color: #ffffff !important;
   color: #698ebf !important;
   border-color: #698ebf !important;
   letter-spacing: 0.05em !important;
}

.campsite-companions-visit-website-btn {
   background-color: #1A4D2E !important;
   color: #ffffff !important;
   letter-spacing: 0.05em !important;
   text-align: center !important;
   margin-right: 2em !important;
}

.campsite-companions-visit-website-btn:hover {
   background-color: #ffffff !important;
   color: #1A4D2E !important;
   border-color: #1A4D2E !important;
   letter-spacing: 0.05em !important;
}

.wei-visit-website-btn {
   background-color: #88a9c3 !important;
   color: #ffffff !important;
   letter-spacing: 0.05em !important;
   text-align: center !important;
   margin-right: 2em !important;
}

.wei-visit-website-btn:hover {
   background-color: #ffffff !important;
   color: #88a9c3 !important;
   border-color: #88a9c3 !important;
   letter-spacing: 0.05em !important;
}

/* Bootstrap and other css */

.list-unstyled{
   padding-left:0;
   list-style:none
}
.list-inline{
   padding-left:0;
   list-style:none
}
.list-inline-item{
   display:inline-block
}
.list-inline-item:not(:last-child){
   margin-right:0.5rem
}
.initialism{
   font-size:90%;
   text-transform:uppercase
}
.blockquote{
   margin-bottom:1rem;
   font-size:1.25rem
}
.blockquote-footer{
   display:block;
   font-size:80%;
   color:#6c757d
}
.blockquote-footer:before{
   content:"\2014 \00A0"
}
.row{
   display:-webkit-box !important; 
   display:-ms-flexbox !important;
   display:flex !important;
   -ms-flex-wrap:wrap !important;
   flex-wrap:wrap !important;
   margin-right:-15px !important;
   margin-left:-15px !important;
}
.no-gutters{
   margin-right:0;
   margin-left:0
}
.no-gutters>.col,.no-gutters>[class*=col-]{
   padding-right:0;
   padding-left:0
}
.col,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-auto,.col-lg,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-auto,.col-md,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md-auto,.col-sm,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-auto{
   position:relative;
   width:100%;
   min-height:1px;
   padding-right:25px;
   padding-left:25px
}
.col{
   -ms-flex-preferred-size:0;
   flex-basis:0;
   -webkit-box-flex:1;
   -ms-flex-positive:1;
   flex-grow:1;
   max-width:100%
}
.col-auto{
   -webkit-box-flex:0;
   -ms-flex:0 0 auto;
   flex:0 0 auto;
   width:auto;
   max-width:none
}
.col-1{
   -webkit-box-flex:0;
   -ms-flex:0 0 8.33333%;
   flex:0 0 8.33333%;
   max-width:8.33333%
}
.col-2{
   -webkit-box-flex:0;
   -ms-flex:0 0 16.66667%;
   flex:0 0 16.66667%;
   max-width:16.66667%
}
.col-3{
   -webkit-box-flex:0;
   -ms-flex:0 0 25%;
   flex:0 0 25%;
   max-width:25%
}
.col-4{
   -webkit-box-flex:0;
   -ms-flex:0 0 33.33333%;
   flex:0 0 33.33333%;
   max-width:33.33333%
}
.col-5{
   -webkit-box-flex:0;
   -ms-flex:0 0 41.66667%;
   flex:0 0 41.66667%;
   max-width:41.66667%
}
.col-6{
   -webkit-box-flex:0;
   -ms-flex:0 0 50%;
   flex:0 0 50%;
   max-width:50%
}
.col-7{
   -webkit-box-flex:0;
   -ms-flex:0 0 58.33333%;
   flex:0 0 58.33333%;
   max-width:58.33333%
}
.col-8{
   -webkit-box-flex:0;
   -ms-flex:0 0 66.66667%;
   flex:0 0 66.66667%;
   max-width:66.66667%
}
.col-9{
   -webkit-box-flex:0;
   -ms-flex:0 0 75%;
   flex:0 0 75%;
   max-width:75%
}
.col-10{
   -webkit-box-flex:0;
   -ms-flex:0 0 83.33333%;
   flex:0 0 83.33333%;
   max-width:83.33333%
}
.col-11{
   -webkit-box-flex:0;
   -ms-flex:0 0 91.66667%;
   flex:0 0 91.66667%;
   max-width:91.66667%
}
.col-12{
   -webkit-box-flex:0;
   -ms-flex:0 0 100%;
   flex:0 0 100%;
   max-width:100%
}

@media (min-width:576px){
   .col-sm{
       -ms-flex-preferred-size:0;
       flex-basis:0;
       -webkit-box-flex:1;
       -ms-flex-positive:1;
       flex-grow:1;
       max-width:100%
   }
   .col-sm-auto{
       -webkit-box-flex:0;
       -ms-flex:0 0 auto;
       flex:0 0 auto;
       width:auto;
       max-width:none
   }
   .col-sm-1{
       -webkit-box-flex:0;
       -ms-flex:0 0 8.33333%;
       flex:0 0 8.33333%;
       max-width:8.33333%
   }
   .col-sm-2{
       -webkit-box-flex:0;
       -ms-flex:0 0 16.66667%;
       flex:0 0 16.66667%;
       max-width:16.66667%
   }
   .col-sm-3{
       -webkit-box-flex:0;
       -ms-flex:0 0 25%;
       flex:0 0 25%;
       max-width:25%
   }
   .col-sm-4{
       -webkit-box-flex:0;
       -ms-flex:0 0 33.33333%;
       flex:0 0 33.33333%;
       max-width:33.33333%
   }
   .col-sm-5{
       -webkit-box-flex:0;
       -ms-flex:0 0 41.66667%;
       flex:0 0 41.66667%;
       max-width:41.66667%
   }
   .col-sm-6{
       -webkit-box-flex:0;
       -ms-flex:0 0 50%;
       flex:0 0 50%;
       max-width:50%
   }
   .col-sm-7{
       -webkit-box-flex:0;
       -ms-flex:0 0 58.33333%;
       flex:0 0 58.33333%;
       max-width:58.33333%
   }
   .col-sm-8{
       -webkit-box-flex:0;
       -ms-flex:0 0 66.66667%;
       flex:0 0 66.66667%;
       max-width:66.66667%
   }
   .col-sm-9{
       -webkit-box-flex:0;
       -ms-flex:0 0 75%;
       flex:0 0 75%;
       max-width:75%
   }
   .col-sm-10{
       -webkit-box-flex:0;
       -ms-flex:0 0 83.33333%;
       flex:0 0 83.33333%;
       max-width:83.33333%
   }
   .col-sm-11{
       -webkit-box-flex:0;
       -ms-flex:0 0 91.66667%;
       flex:0 0 91.66667%;
       max-width:91.66667%
   }
   .col-sm-12{
       -webkit-box-flex:0;
       -ms-flex:0 0 100%;
       flex:0 0 100%;
       max-width:100%
   }
}
@media (min-width:768px){
   .col-md{
       -ms-flex-preferred-size:0;
       flex-basis:0;
       -webkit-box-flex:1;
       -ms-flex-positive:1;
       flex-grow:1;
       max-width:100%
   }
   .col-md-auto{
       -webkit-box-flex:0;
       -ms-flex:0 0 auto;
       flex:0 0 auto;
       width:auto;
       max-width:none
   }
   .col-md-1{
       -webkit-box-flex:0;
       -ms-flex:0 0 8.33333%;
       flex:0 0 8.33333%;
       max-width:8.33333%
   }
   .col-md-2{
       -webkit-box-flex:0;
       -ms-flex:0 0 16.66667%;
       flex:0 0 16.66667%;
       max-width:16.66667%
   }
   .col-md-3{
       -webkit-box-flex:0;
       -ms-flex:0 0 25%;
       flex:0 0 25%;
       max-width:25%
   }
   .col-md-4{
       -webkit-box-flex:0;
       -ms-flex:0 0 33.33333%;
       flex:0 0 33.33333%;
       max-width:33.33333%
   }
   .col-md-5{
       -webkit-box-flex:0;
       -ms-flex:0 0 41.66667%;
       flex:0 0 41.66667%;
       max-width:41.66667%
   }
   .col-md-6{
       -webkit-box-flex:0;
       -ms-flex:0 0 50%;
       flex:0 0 50%;
       max-width:50%
   }
   .col-md-7{
       -webkit-box-flex:0;
       -ms-flex:0 0 58.33333%;
       flex:0 0 58.33333%;
       max-width:58.33333%
   }
   .col-md-8{
       -webkit-box-flex:0;
       -ms-flex:0 0 66.66667%;
       flex:0 0 66.66667%;
       max-width:66.66667%
   }
   .col-md-9{
       -webkit-box-flex:0;
       -ms-flex:0 0 75%;
       flex:0 0 75%;
       max-width:75%
   }
   .col-md-10{
       -webkit-box-flex:0;
       -ms-flex:0 0 83.33333%;
       flex:0 0 83.33333%;
       max-width:83.33333%
   }
   .col-md-11{
       -webkit-box-flex:0;
       -ms-flex:0 0 91.66667%;
       flex:0 0 91.66667%;
       max-width:91.66667%
   }
   .col-md-12{
       -webkit-box-flex:0;
       -ms-flex:0 0 100%;
       flex:0 0 100%;
       max-width:100%
   }
}
@media (min-width:992px){
   .col-lg{
       -ms-flex-preferred-size:0;
       flex-basis:0;
       -webkit-box-flex:1;
       -ms-flex-positive:1;
       flex-grow:1;
       max-width:100%
   }
   .col-lg-auto{
       -webkit-box-flex:0;
       -ms-flex:0 0 auto;
       flex:0 0 auto;
       width:auto;
       max-width:none
   }
   .col-lg-1{
       -webkit-box-flex:0;
       -ms-flex:0 0 8.33333%;
       flex:0 0 8.33333%;
       max-width:8.33333%
   }
   .col-lg-2{
       -webkit-box-flex:0;
       -ms-flex:0 0 16.66667%;
       flex:0 0 16.66667%;
       max-width:16.66667%
   }
   .col-lg-3{
       -webkit-box-flex:0;
       -ms-flex:0 0 25%;
       flex:0 0 25%;
       max-width:25%
   }
   .col-lg-4{
       -webkit-box-flex:0;
       -ms-flex:0 0 33.33333%;
       flex:0 0 33.33333%;
       max-width:33.33333%
   }
   .col-lg-5{
       -webkit-box-flex:0;
       -ms-flex:0 0 41.66667%;
       flex:0 0 41.66667%;
       max-width:41.66667%
   }
   .col-lg-6{
       -webkit-box-flex:0;
       -ms-flex:0 0 50%;
       flex:0 0 50%;
       max-width:50%
   }
   .col-lg-7{
       -webkit-box-flex:0;
       -ms-flex:0 0 58.33333%;
       flex:0 0 58.33333%;
       max-width:58.33333%
   }
   .col-lg-8{
       -webkit-box-flex:0;
       -ms-flex:0 0 66.66667%;
       flex:0 0 66.66667%;
       max-width:66.66667%
   }
   .col-lg-9{
       -webkit-box-flex:0;
       -ms-flex:0 0 75%;
       flex:0 0 75%;
       max-width:75%
   }
   .col-lg-10{
       -webkit-box-flex:0;
       -ms-flex:0 0 83.33333%;
       flex:0 0 83.33333%;
       max-width:83.33333%
   }
   .col-lg-11{
       -webkit-box-flex:0;
       -ms-flex:0 0 91.66667%;
       flex:0 0 91.66667%;
       max-width:91.66667%
   }
   .col-lg-12{
       -webkit-box-flex:0;
       -ms-flex:0 0 100%;
       flex:0 0 100%;
       max-width:100%
   }
}
@media (min-width:1200px){
   .col-xl{
       -ms-flex-preferred-size:0;
       flex-basis:0;
       -webkit-box-flex:1;
       -ms-flex-positive:1;
       flex-grow:1;
       max-width:100%
   }
   .col-xl-auto{
       -webkit-box-flex:0;
       -ms-flex:0 0 auto;
       flex:0 0 auto;
       width:auto;
       max-width:none
   }
   .col-xl-1{
       -webkit-box-flex:0;
       -ms-flex:0 0 8.33333%;
       flex:0 0 8.33333%;
       max-width:8.33333%
   }
   .col-xl-2{
       -webkit-box-flex:0;
       -ms-flex:0 0 16.66667%;
       flex:0 0 16.66667%;
       max-width:16.66667%
   }
   .col-xl-3{
       -webkit-box-flex:0;
       -ms-flex:0 0 25%;
       flex:0 0 25%;
       max-width:25%
   }
   .col-xl-4{
       -webkit-box-flex:0;
       -ms-flex:0 0 33.33333%;
       flex:0 0 33.33333%;
       max-width:33.33333%
   }
   .col-xl-5{
       -webkit-box-flex:0;
       -ms-flex:0 0 41.66667%;
       flex:0 0 41.66667%;
       max-width:41.66667%
   }
   .col-xl-6{
       -webkit-box-flex:0;
       -ms-flex:0 0 50%;
       flex:0 0 50%;
       max-width:50%
   }
   .col-xl-7{
       -webkit-box-flex:0;
       -ms-flex:0 0 58.33333%;
       flex:0 0 58.33333%;
       max-width:58.33333%
   }
   .col-xl-8{
       -webkit-box-flex:0;
       -ms-flex:0 0 66.66667%;
       flex:0 0 66.66667%;
       max-width:66.66667%
   }
   .col-xl-9{
       -webkit-box-flex:0;
       -ms-flex:0 0 75%;
       flex:0 0 75%;
       max-width:75%
   }
   .col-xl-10{
       -webkit-box-flex:0;
       -ms-flex:0 0 83.33333%;
       flex:0 0 83.33333%;
       max-width:83.33333%
   }
   .col-xl-11{
       -webkit-box-flex:0;
       -ms-flex:0 0 91.66667%;
       flex:0 0 91.66667%;
       max-width:91.66667%
   }
   .col-xl-12{
       -webkit-box-flex:0;
       -ms-flex:0 0 100%;
       flex:0 0 100%;
       max-width:100%
   }
}
.breadcrumb{
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -ms-flex-wrap:wrap;
   flex-wrap:wrap;
   padding:0.75rem 1rem;
   margin-bottom:1rem;
   list-style:none;
   background-color:#e9ecef;
   border-radius:0.25rem
}
.breadcrumb-item+.breadcrumb-item{
   padding-left:0.5rem
}
.breadcrumb-item+.breadcrumb-item:before{
   display:inline-block;
   padding-right:0.5rem;
   color:#6c757d;
   content:"/"
}
.breadcrumb-item+.breadcrumb-item:hover:before{
   text-decoration:underline
}
.breadcrumb-item+.breadcrumb-item:hover:before{
   text-decoration:none
}
.breadcrumb-item.active{
   color:#6c757d
}
.d-flex{
   display:-webkit-box!important;
   display:-ms-flexbox!important;
   display:flex!important
}
.d-inline-flex{
   display:-webkit-inline-box!important;
   display:-ms-inline-flexbox!important;
   display:inline-flex!important
}
@media (min-width:576px){
   .d-sm-none{
       display:none!important
   }
   .d-sm-inline{
       display:inline!important
   }
   .d-sm-inline-block{
       display:inline-block!important
   }
   .d-sm-block{
       display:block!important
   }
   .d-sm-table{
       display:table!important
   }
   .d-sm-table-row{
       display:table-row!important
   }
   .d-sm-table-cell{
       display:table-cell!important
   }
   .d-sm-flex{
       display:-webkit-box!important;
       display:-ms-flexbox!important;
       display:flex!important
   }
   .d-sm-inline-flex{
       display:-webkit-inline-box!important;
       display:-ms-inline-flexbox!important;
       display:inline-flex!important
   }
}
@media (min-width:768px){
   .d-md-none{
       display:none!important
   }
   .d-md-inline{
       display:inline!important
   }
   .d-md-inline-block{
       display:inline-block!important
   }
   .d-md-block{
       display:block!important
   }
   .d-md-table{
       display:table!important
   }
   .d-md-table-row{
       display:table-row!important
   }
   .d-md-table-cell{
       display:table-cell!important
   }
   .d-md-flex{
       display:-webkit-box!important;
       display:-ms-flexbox!important;
       display:flex!important
   }
   .d-md-inline-flex{
       display:-webkit-inline-box!important;
       display:-ms-inline-flexbox!important;
       display:inline-flex!important
   }
}
@media (min-width:992px){
   .d-lg-none{
       display:none!important
   }
   .d-lg-inline{
       display:inline!important
   }
   .d-lg-inline-block{
       display:inline-block!important
   }
   .d-lg-block{
       display:block!important
   }
   .d-lg-table{
       display:table!important
   }
   .d-lg-table-row{
       display:table-row!important
   }
   .d-lg-table-cell{
       display:table-cell!important
   }
   .d-lg-flex{
       display:-webkit-box!important;
       display:-ms-flexbox!important;
       display:flex!important
   }
   .d-lg-inline-flex{
       display:-webkit-inline-box!important;
       display:-ms-inline-flexbox!important;
       display:inline-flex!important
   }
}
@media (min-width:1200px){
   .d-xl-none{
       display:none!important
   }
   .d-xl-inline{
       display:inline!important
   }
   .d-xl-inline-block{
       display:inline-block!important
   }
   .d-xl-block{
       display:block!important
   }
   .d-xl-table{
       display:table!important
   }
   .d-xl-table-row{
       display:table-row!important
   }
   .d-xl-table-cell{
       display:table-cell!important
   }
   .d-xl-flex{
       display:-webkit-box!important;
       display:-ms-flexbox!important;
       display:flex!important
   }
   .d-xl-inline-flex{
       display:-webkit-inline-box!important;
       display:-ms-inline-flexbox!important;
       display:inline-flex!important
   }
}
@media print{
   .d-print-none{
       display:none!important
   }
   .d-print-inline{
       display:inline!important
   }
   .d-print-inline-block{
       display:inline-block!important
   }
   .d-print-block{
       display:block!important
   }
   .d-print-table{
       display:table!important
   }
   .d-print-table-row{
       display:table-row!important
   }
   .d-print-table-cell{
       display:table-cell!important
   }
   .d-print-flex{
       display:-webkit-box!important;
       display:-ms-flexbox!important;
       display:flex!important
   }
   .d-print-inline-flex{
       display:-webkit-inline-box!important;
       display:-ms-inline-flexbox!important;
       display:inline-flex!important
   }
}
/* .section{
   padding:7em 0
} */
.section-subscribe{
   padding:2em 0
}
.section-subscribe h2{
   color:#fff
}
.section-subscribe p{
   font-size:1.2rem;
   color:rgba(255, 255, 255, 0.4)
}
.section-subscribe .form-control{
   border-color:#fff!important;
   color:#fff
}
.section-subscribe .form-control::-webkit-input-placeholder{
   color:rgba(255, 255, 255, 0.4)!important
}
.section-subscribe .form-control::-moz-placeholder{
   color:rgba(255, 255, 255, 0.4)!important
}
.section-subscribe .form-control:-ms-input-placeholder{
   color:rgba(255, 255, 255, 0.4)!important
}
.section-subscribe .form-control:-moz-placeholder{
   color:rgba(255, 255, 255, 0.4)!important
}
.contact-form-contact-info p{
   margin-bottom:30px;
   font-size:20px;
   line-height:1.5;
   color:#000
}
.contact-form-contact-info p .icon{
   top:-4px;
   position:relative;
   width:0px;
   font-size:30px;
   color:#ffc107
}
.load-more{
   display:block;
   padding:40px;
   text-align:center;
   background:#e9ecef;
   color:#000;
   font-size:20px
}
.load-more:hover{
   background:#ffc107;
   color:#fff
}
.cover_1{
   background-size:cover;
   background-position:center center;
   padding:7em 0
}
.cover_1 .sub-heading{
   color:rgba(255, 255, 255, 0.7);
   font-size:22px
}
.cover_1 .heading{
   font-size:50px;
   color:white;
   font-weight:300
}
.heading{
   color:#000
}
.heading.border-bottom{
   position:relative;
   padding-bottom:30px
}
.heading.border-bottom:before{
   bottom:0;
   position:absolute;
   content:"";
   width:50px;
   height:2px;
   left:50%;
   -webkit-transform:translateX(-50%);
   -ms-transform:translateX(-50%);
   transform:translateX(-50%);
   background:#ffc107
}
.text-black{
   color:#000!important
}
.stretch-section .video{
   display:block;
   position:relative;
   -webkit-box-shadow:4px 4px 70px -20px rgba(0, 0, 0, 0.5);
   box-shadow:4px 4px 70px -20px rgba(0, 0, 0, 0.5)
}
.media-feature{
   padding:30px;
   -webkit-transition:.2s all ease-out;
   -o-transition:.2s all ease-out;
   transition:.2s all ease-out;
   background:#fff;
   z-index:1;
   position:relative;
   border-bottom:10px solid transparent;
   border-radius:4px;
   font-size:15px
}
.media-feature .icon{
   font-size:60px;
   color:#ffc107
}
.media-feature h3{
   font-size:16px;
   text-transform:uppercase
}
.media-feature:focus,.media-feature:hover{
   -webkit-box-shadow:0 2px 20px -3px rgba(0, 0, 0, 0.1);
   box-shadow:0 2px 20px -3px rgba(0, 0, 0, 0.1);
   -webkit-transform:scale(1.05);
   -ms-transform:scale(1.05);
   transform:scale(1.05);
   z-index:2;
   border-bottom:10px solid #ffc107
}
.media-custom{
   background:#fff;
   -webkit-transition:.3s all ease;
   -o-transition:.3s all ease;
   transition:.3s all ease;
   margin-bottom:30px;
   position:relative;
   top:0
}
.media-custom .meta-post{
   color:#ced4da;
   font-size:13px;
   text-transform:uppercase
}
.media-custom>a{
   position:relative;
   overflow:hidden;
   display:block
}
.media-custom .meta-chat{
   color:#ced4da
}
.media-custom .meta-chat:hover{
   color:#6c757d
}
.media-custom img{
   -webkit-transition:.3s all ease;
   -o-transition:.3s all ease;
   transition:.3s all ease
}
.media-custom:focus img,.media-custom:hover img{
   -webkit-transform:scale(1.1);
   -ms-transform:scale(1.1);
   transform:scale(1.1)
}
.media-custom .media-body{
   padding:30px
}
.media-custom .media-body h3{
   font-size:20px
}
.media-custom .media-body p:last-child{
   margin-bottom:0
}
.media-testimonial img{
   width:100px;
   border-radius:50%
}
.media-testimonial blockquote p{
   font-size:20px;
   color:#000;
   font-style:italic
}
.list-unstyled.check li{
   position:relative;
   padding-left:30px;
   line-height:1.3;
   margin-bottom:10px
}
.list-unstyled.check li:before{
   color:#17a2b8;
   left:0;
   font-family:"Ionicons";
   content:"\f122";
   position:absolute
}
.border-t{
   border-top:1px solid #f8f9fa
}
.element-animate{
   opacity:0;
   visibility:hidden
}
.block-41 .block-41-subheading{
   margin-bottom:30px
}
.block-41 .block-41-subheading>div{
   display:inline-block;
   text-transform:uppercase
}
.block-41 .block-41-subheading>div.block-41-line{
   height:2px;
   width:50px;
}
.block-41 .block-41-heading{
   font-size:50px;
   line-height:1.2
}
@media (min-width:768px){
   .block-41 .block-41-text{
       font-size:20px
   }
}
.block-6{
   margin-bottom:30px
}
.block-6 .icon{
   margin-right:40px
}
.block-6 .icon span:before{
   font-size:50px
}
.block-6 .icon span.bg-after{
   position:relative
}
.block-6 .icon span.bg-after:after{
   position:absolute;
   content:"";
   left:-20px;
   top:-25px;
   width:50px;
   height:50px;
   border-radius:50%;
   z-index:-1
}
.block-6.d-block .icon{
   margin-right:0
}
.block-6 .media-body .heading{
   font-size:20px
}
.block-6 .media-body p{
   font-size:16px
}
.block-11 .owl-stage{
   padding-top:30px;
   padding-bottom:30px
}
.block-11 .owl-nav{
   display:none;
   position:relative;
   position:absolute;
   bottom:-40px;
   left:50%;
   -webkit-transform:translateX(-50%);
   -ms-transform:translateX(-50%);
   transform:translateX(-50%)
}
.block-11 .owl-nav .owl-next,.block-11 .owl-nav .owl-prev{
   position:relative;
   display:inline-block
}
.block-11 .owl-nav .owl-next:active,.block-11 .owl-nav .owl-next:focus,.block-11 .owl-nav .owl-prev:active,.block-11 .owl-nav .owl-prev:focus{
   outline:none
}
.block-11 .owl-nav .owl-next span,.block-11 .owl-nav .owl-prev span{
   font-size:30px;
   padding:20px
}
.block-11 .owl-nav .owl-next.disabled,.block-11 .owl-nav .owl-prev.disabled{
   opacity:.2
}
.block-11 .owl-dots{
   text-align:center;
   bottom:-2rem;
   position:relative
}
.block-11 .owl-dots .owl-dot{
   display:inline-block
}
.block-11 .owl-dots .owl-dot>span{
   display:inline-block;
   width:7px;
   height:7px;
   background:#ccc;
   margin:5px;
   border-radius:50%
}
.block-11 .owl-dots .owl-dot.active>span{
   background:#ffc107
}
.block-33{
   max-width:700px;
   margin-left:auto;
   margin-right:auto
}
.block-33 .vcard .image{
   -webkit-box-flex:0;
   -ms-flex:0 0 60px;
   flex:0 0 60px;
   margin-right:20px
}
.block-33 .vcard .image img{
   max-width:100%;
   border-radius:50%;
   border:5px solid #fff
}
.block-33 .vcard .name-text .heading{
   line-height:1.5;
   margin:0;
   padding:0;
   font-size:18px;
   font-weight:300
}
.block-33 .vcard .name-text .meta{
   color:#a6a6a6;
   display:block
}
.block-33 .text blockquote{
   padding:0;
   margin-bottom:0;
   border:none!important;
   font-size:16px
}
.block-33 .text blockquote p:last-child{
   margin-bottom:0
}
.section-title{
   font-weight:300
}
.section-title strong{
   font-weight:700
}
.feature-1-wrap{
   position:relative
}
.feature-1{
   padding:30px;
   background:#f8f9fa;
   min-height:calc(50% - 15px);
   top:0;
   margin-bottom:30px!important
}
@media (max-width:991.98px){
   .feature-1{
       display:block!important
   }
}
.feature-1 h3{
   font-size:1.2rem
}
.feature-img-bg{
   background-size:cover;
   background-repeat:no-repeat;
   background-position:center center
}
@media (max-width:991.98px){
   .feature-img-bg{
       height:400px!important;
       display:block;
       margin-bottom:30px
   }
}