{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>The Boba Bar HFX Landing Page - Case Study</title>
   <link rel="icon" type="image/png" href="{% static 'images/boba-bar-landing-page-imgs/favicon.ico' %}">

   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" type="text/css">
   <link href="{% static 'css/boba-bar-landing-page-css/linearicons.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'css/boba-bar-landing-page-css/bootstrap.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'css/boba-bar-landing-page-css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'css/boba-bar-landing-page-css/nice-select.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'css/boba-bar-landing-page-css/animate.min.css' %}" rel="stylesheet" type="text/css">		
   <link href="{% static 'css/boba-bar-landing-page-css/owl.carousel.css' %}" rel="stylesheet" type="text/css">	
   <link href="{% static 'css/boba-bar-landing-page.css' %}" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
   <!-- Hero -->
   <header id="header">
   <div class="header-top">
      <div class="container">
      <div class="row align-items-center justify-content-between d-flex">
         <div id="logo">
            <a href="#home"><img class="boba-bar-logo" src="{% static 'images/boba-bar-landing-page-imgs/logo.png' %}" alt="logo"></a>
         </div>
         <nav id="nav-menu-container">
            <ul class="nav-menu">
               <li><a class="smoothscroll" href="#home">Home</a></li>
               <li><a class="smoothscroll" href="#about">About</a></li>
               <li><a class="smoothscroll" href="#menu">Menu</a></li>
               <li><a class="smoothscroll" href="#contact">Contact</a></li>
               <li><a class="smoothscroll" href="{% url 'imagesources' %}">Image Sources</a></li>
           </ul>
         </nav>	    		
      </div>
      </div>
   </header>

   <!-- Banner -->
   <section class="banner-area" id="home">	
      <div class="container">
         <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-9">
               <h3 class="text-white text-uppercase">Discover your new favourite flavour</h3>
               <h1>
                  Savor Every Moment<br>
                  at The Boba Bar				
               </h1>
               <a href="#about" class="btn btn-outline-light text-uppercase hero-btn">Explore</a>
            </div>											
         </div>
      </div>
   </section>

   <!-- About -->
   <section class="about_section" id="about">
      <div id="about_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                              <div class="about_main">
                                 <h1 class="about_taital mb-4">Our Story</h1>
                                 <p class="about_text">
                                    Hsin-Yi Chou grew up in Taipei, Taiwan. 
                                    From a young age, Hsin-Yi was captivated by the art of tea since her parents owned a small tea shop where she spent countless hours watching her parents brew tea. 
                                    The shop became a community hub, people gathered to relax and enjoy a moment of peace amidst the busy city life. 
                                    As Hsin-Yi grew older, she studied culinary arts in Taipei, her dream was to open a relaxing space where people could experience the true essence of tea, like her parents did. 
                                    After completing her studies, Hsin-Yi moved to Halifax, Nova Scotia, a city known for its diverse and welcoming community. 
                                    She saw an opportunity to share her Taiwanese heritage by introducing a new concept in bubble tea culture.
                                 </p>
                                 <a href="#about" class="btn btn-outline-light text-uppercase about-btn">Learn More</a>
                              </div>
                        </div>
                        <div class="col-md-6">
                              <div class="image_2">
                                 <img class="our-story-img" src="{% static 'images/boba-bar-landing-page-imgs/about-img-1.png' %}" alt="Taipei">
                              </div>
                        </div>
                     </div>
                  </div>
            </div>
            <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                              <div class="about_main">
                                 <h1 class="about_taital mb-4">Our Values</h1>
                                 <p class="about_text">
                                    <span class="about_text_span"><strong>Quality:</strong></span> At The Boba Bar, we are committed to delivering the highest quality tea. From the sourcing to the use of fresh ingredients, we ensure that every drink meets the highest of standards.<br><br>
                                    <span class="about_text_span"><strong>Innovation:</strong></span> Our menu features unique creations you have never tasted before and our goal is to give customers a one-of-a-kind experience.<br><br>
                                    <span class="about_text_span"><strong>Community:</strong></span> Life can be hectic, and we want to create a safe space for everyone. The Boba Bar is more than just a place to get a drink; it's a welcoming gathering spot for friends, family, and neighbors.
                                 </p>
                                 <a href="#about" class="btn btn-outline-light text-uppercase about-btn">Learn More</a>
                              </div>
                        </div>
                        <div class="col-md-6">
                              <div class="image_2">
                                 <img class="our-values-img" src="{% static 'images/boba-bar-landing-page-imgs/about-img-2.png' %}" alt="Restaurant">
                              </div>
                        </div>
                     </div>
                  </div>
            </div>
            <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                              <div class="about_main">
                                 <h1 class="about_taital mt-4 mb-4">Our Teas</h1>
                                 <p class="about_text">
                                    At The Boba Bar, we love to push the boundaries of tea by experimenting with new and exciting flavors.
                                    By incorporating a splash of your favorite alcoholic beverages, we create unique fusions that marry the rich, comforting essence of tea with the vibrant, invigorating flavors of classic cocktails and mocktails.
                                    Whether you're in the mood for a twist on a timeless drink or eager to try something entirely new, our carefully crafted concoctions promise a delightful journey that'ss as refreshing as it is comforting.
                                 </p>
                                 <a href="#about" class="btn btn-outline-light text-uppercase about-btn">Learn More</a>
                              </div>
                        </div>
                        <div class="col-md-6">
                              <div class="image_2">
                                 <img class="our-teas-img" src="{% static 'images/boba-bar-landing-page-imgs/about-img-3.png' %}" alt="Matcha Bubble Tea">
                              </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#about_slider" role="button" data-slide="prev">
            <img class="boba-previous" src="{% static 'images/boba-bar-landing-page-imgs/boba-prev.png' %}"alt="Previous">
         </a>
         <a class="carousel-control-next" href="#about_slider" role="button" data-slide="next">
            <img class="boba-next" src="{% static 'images/boba-bar-landing-page-imgs/boba-next.png' %}" alt="Next">
         </a>
      </div>
   </section>

   <!-- Divider -->
   <section class="section" id="call-to-action">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 offset-lg-1">
                  <div class="cta-content">
                     <h2>Where <em>Flavor </em>Meets <em>Relaxation!</em></h2>
                     <p>Stay in the loop with our free newsletter, where we share all our upcoming events. Subscribe today, become a member, and be the first to know about our relaxing gatherings!</p>
                     <div class="main-button scroll-to-section">
                        <a href="#" class="btn btn-outline-light text-uppercase subscribe-btn">Subscribe</a>
                     </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

   <!-- Menu -->
   <section class="services_section layout_padding_menu" id="menu">
      <div class="container">
         <h1 class="services_taital">Our Menu</h1>
         <p class="services_text">At The Boba Bar, we like to mix classic boba flavours with your favourite alcoholic drink. 
            You can order any of our drinks below or ask our bartnerders for a unique mix!<br><br>
            <strong>Note:</strong> We also do mocktails and regular bubble tea!
         </p>
         <div class="services_section_2 my-5">
            <div class="row">
               <div class="col-md-6">
                  <div class="box_main">
                     <div class="left_main">
                        <div class="cup_img_1">
                           <img class="menu-item-1" src="{% static 'images/boba-bar-landing-page-imgs/menu-item-1.png' %}" alt="Milk Tea">
                        </div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10 active"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Baileys Milk Tea</h6>
                        <h1 class="price_text">$9</h1>
                     </div>
                  </div>
                  <div class="box_main">
                     <div class="left_main">
                        <div class="cup_img_1">
                           <img class="menu-item-2" src="{% static 'images/boba-bar-landing-page-imgs/menu-item-2.png' %}" alt="Brown Sugar Milk Tea">
                        </div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Bourbon Brown<br>Sugar Milk Tea</h6>
                        <h1 class="price_text">$10</h1>
                     </div>
                  </div>
                  <div class="box_main">
                     <div class="left_main">
                        <div class="cup_img_1">
                           <img class="menu-item-3" src="{% static 'images/boba-bar-landing-page-imgs/menu-item-3.png' %}" alt="Milk Tea">
                        </div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Gin Matcha Tea</h6>
                        <h1 class="price_text">$14</h1>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="box_main">
                     <div class="left_main">
                        <div class="cup_img_1">
                           <img class="menu-item-4" src="{% static 'images/boba-bar-landing-page-imgs/menu-item-4.png' %}" alt="Matcha Tea">
                        </div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Taro & Coconut<br>Rum Milk Tea</h6>
                        <h1 class="price_text">$12</h1>
                     </div>
                  </div>
                  <div class="box_main">
                     <div class="left_main">
                        <div class="cup_img_1">
                           <img class="menu-item-5" src="{% static 'images/boba-bar-landing-page-imgs/menu-item-5.png' %}" alt="Taro Tea">
                        </div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Tequila Passion<br>Fruit Milk Tea</h6>
                        <h1 class="price_text">$10</h1>
                     </div>
                  </div>
                  <div class="box_main">
                     <div class="left_main">
                        <div class="cup_img_1">
                           <img class="menu-item-6" src="{% static 'images/boba-bar-landing-page-imgs/menu-item-6.png' %}" alt="Passion Fruit Tea">
                        </div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Champagne<br>Strawberry Tea</h6>
                        <h1 class="price_text">$14</h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="d-flex align-items-center justify-content-center menu-btn-div">
            <a href="#home" class="btn btn-outline-light text-uppercase menu-btn">See More</a>
         </div>
      </div>
   </section>

   <!-- Gallery -->
   <section class="gallery" id="gallery">
      <div class="container-fluid">
         <h1 class="gallery-title">The Boba Bar in Pictures</h1>
         <div class="gallery-image-container">
            <img class="gallery-bubbles" src="{% static 'images/boba-bar-landing-page-imgs/bubbles.png' %}" alt="bubbles">
         </div>
         <p class="gallery-subtitle">At The Boba Bar, every moment is worth capturing. Our gallery showcases the vibrant atmosphere, delicious drinks, and the joyful experiences that our customers love</p>
         <div class="row no-gutters">
            <div class="col-md-4">
               <div class="gallery-item">
                  <img src="{% static 'images/boba-bar-landing-page-imgs/gallery-img-1.png' %}" alt="Gallery Image 1" class="img-fluid">
               </div>
            </div>
            <div class="col-md-4">
               <div class="gallery-item">
                  <img src="{% static 'images/boba-bar-landing-page-imgs/gallery-img-2.png' %}" alt="Gallery Image 2" class="img-fluid">
               </div>
            </div>
            <div class="col-md-4">
               <div class="gallery-item">
                  <img src="{% static 'images/boba-bar-landing-page-imgs/gallery-img-3.png' %}" alt="Gallery Image 3" class="img-fluid">
               </div>
            </div>
            <div class="col-md-4">
               <div class="gallery-item">
                  <img src="{% static 'images/boba-bar-landing-page-imgs/gallery-img-4.png' %}" alt="Gallery Image 4" class="img-fluid">
               </div>
            </div>
            <div class="col-md-4">
               <div class="gallery-item">
                  <img src="{% static 'images/boba-bar-landing-page-imgs/gallery-img-5.png' %}" alt="Gallery Image 5" class="img-fluid">
               </div>
            </div>
            <div class="col-md-4">
               <div class="gallery-item">
                  <img src="{% static 'images/boba-bar-landing-page-imgs/gallery-img-6.png' %}" alt="Gallery Image 6" class="img-fluid">
               </div>
            </div>
         </div>
      </div>
   </section>

   <!-- Contact -->
   <section class="section" id="contact">
      <div class="container-fluid">
         <h1 class="contact-title">Contact Us</h1>
         <div class="contact-image-container">
            <img class="contact-bubbles" src="{% static 'images/boba-bar-landing-page-imgs/bubbles.png' %}" alt="bubbles">
         </div>
          <div class="mt-5 row">
            <div class="col-md-6 pl-0 pr-0">
               <div class="map_main">
                  <div class="map-responsive">
                     <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.964016301388!2d-63.56748908446313!3d44.645338679099995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b5a22670c85f8ed%3A0x6e10f693d6e7e7ea!2sHalifax%20Waterfront!5e0!3m2!1sen!2sca!4v1692180730007!5m2!1sen!2sca"
                        height="614"
                        frameborder="0"
                        style="border:0; width: 100%;"
                        allowfullscreen="">
                     </iframe>

                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                  <div class="contact-form">
                     <form id="contact-us" action="" method="post">
                        <div class="row">
                        <div class="col-md-6 col-sm-12">
                           <fieldset>
                              <input name="name" type="text" id="name" placeholder="Name *" required="">
                           </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                           <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email *" required="">
                           </fieldset>
                        </div>
                        <div class="col-md-12 col-sm-12">
                           <fieldset>
                              <input name="subject" type="text" id="subject" placeholder="Subject">
                           </fieldset>
                        </div>
                        <div class="col-lg-12">
                           <fieldset>
                              <textarea name="message" rows="6" id="message" placeholder="Message..." required=""></textarea>
                           </fieldset>
                        </div>
                        <div class="col-lg-12">
                           <fieldset>
                              <a href="#contact" class="btn btn-outline-light text-uppercase contact-btn">See More</a>
                           </fieldset>
                        </div>
                        </div>
                     </form>
                  </div>
            </div>
         </div>
      </div>
   </section>

   <!-- Footer -->		
   <footer class="footer-area section-gap">
      <div class="container">
         <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                  <div class="single-footer-widget">
                     <h6>About Us</h6>
                     <p>The Boba Bar is a fake company created by Anaik Chacon. Anaik's projects are intended as case studies and conceptual exercises only. If there are any concerns about the contents shown in this website, please reach out.</p>
                     <p class="footer-text">Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved<br>
                        This website was put together with the help of <a href="https://colorlib.com" target="_blank"><strong>Colorlib</strong></a>
                     </p>								
                  </div>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-6">
                  <div class="single-footer-widget">
                     <h6>Newsletter</h6>
                     <p>Subscribe to our newsletter and stay updated:</p>
                     <div class="" id="mc_embed_signup">
                        <form class="form-inline">
                              <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                              <button class="click-btn btn btn-default">
                                 <i class="fas fa-arrow-right"></i>
                              </button>
                              <div style="position: absolute; left: -5000px;">
                                 <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                              </div>
                        </form>
                     </div>
                  </div>
            </div>						
            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
               <div class="single-footer-widget">
                  <h6>Follow Us</h6>
                  <p>Find us in the following platforms:</p>
                  <div class="footer-social d-flex align-items-center">
                     <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                     <a href="#"><i class="fa-brands fa-instagram"></i></a>
                     <a href="#"><i class="fa-brands fa-facebook"></i></a>
                  </div>
               </div>
            </div>							
         </div>
      </div>
   </footer>
   
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="{% static 'js/boba-bar-landing-page-js/vendor/jquery-2.2.4.min.js' %}"></script>
   <script src="{% static 'js/boba-bar-landing-page-js/vendor/bootstrap.min.js' %}"></script>			
   <script src="{% static 'js/boba-bar-landing-page-js/easing.min.js' %}"></script>			
   <script src="{% static 'js/boba-bar-landing-page-js/hoverIntent.js' %}"></script>
   <script src="{% static 'js/boba-bar-landing-page-js/superfish.min.js' %}"></script>	
   <script src="{% static 'js/boba-bar-landing-page-js/jquery.ajaxchimp.min.js' %}"></script>
   <script src="{% static 'js/boba-bar-landing-page-js/jquery.magnific-popup.min.js' %}"></script>	
   <script src="{% static 'js/boba-bar-landing-page-js/owl.carousel.min.js' %}"></script>			
   <script src="{% static 'js/boba-bar-landing-page-js/jquery.sticky.js' %}"></script>
   <script src="{% static 'js/boba-bar-landing-page-js/jquery.nice-select.min.js' %}"></script>			
   <script src="{% static 'js/boba-bar-landing-page-js/parallax.min.js' %}"></script>	
   <script src="{% static 'js/boba-bar-landing-page-js/waypoints.min.js' %}"></script>
   <script src="{% static 'js/boba-bar-landing-page-js/jquery.counterup.min.js' %}"></script>
   <script src="{% static 'js/boba-bar-landing-page-js/main.js' %}"></script>
</body>
</html>