{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- <link rel="shortcut icon" href="img/fav.png"> -->
   <meta charset="UTF-8">
   <title>The Boba Bar HFX Landing Page</title>

   <link href="{% static 'css/bb-css/linearicons.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'css/bb-css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'css/bb-css/bootstrap.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'css/bb-css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'css/bb-css/nice-select.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'css/bb-css/animate.min.css' %}" rel="stylesheet" type="text/css">		
   <link href="{% static 'css/bb-css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'css/bb-css/owl.carousel.css' %}" rel="stylesheet" type="text/css">	
   <link href="{% static 'css/boba-bar-landing-page.css' %}" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
   <!-- Hero -->
   <header id="header" id="home">
   <div class="header-top">
      <div class="container">
      <div class="row align-items-center justify-content-between d-flex">
         <div id="logo">
            <a href="#home"><img class="boba-bar-logo" src="{% static 'images/boba-bar-landing-page-imgs/logo.png' %}" alt="logo"></a>
         </div>
         <nav id="nav-menu-container">
            <ul class="nav-menu">
               <li class="menu-active"><a href="#home">Home</a></li>
               <li><a href="#about">About</a></li>
               <li><a href="#menu">Menu</a></li>
               <li><a href="#testimonials">Testimonials</a></li>
               <li><a href="#contact">Contact</a></li>
            </ul>
         </nav>	    		
      </div>
      </div>
   </header>

   <!-- Banner -->
   <section class="banner-area">	
      <div class="container">
         <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-9">
               <h3 class="text-white text-uppercase">Discover your new favourite flavour</h3>
               <h1>
                  Savor Every Moment<br>
                  at The Boba Bar				
               </h1>
               <a href="#about" class="btn btn-outline-light text-uppercase hero-btn">Explore</a>
            </div>											
         </div>
      </div>
   </section>

   <!-- About -->
   <section class="video-sec-area pb-100 pt-100" id="about">
      <div class="container">
         <div class="row justify-content-start align-items-center">
            <div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
            </div>						
            <div class="col-lg-6 video-left">
               <h1>Our Story</h1>
               <p>
                  Hsin-Yi Chou grew up in Taipei, Taiwan.
                  From a young age, Hsin-Yi was captivated by the art of tea since her parents owned a small tea shop where she spent countless hours watching her parents brew tea.
                  The shop became a community hub, people gathered to relax and enjoy a moment of peace amidst the busy city life.
                  As Hsin-Yi grew older, she studied culinary arts in Taipei, her dream was to open a relaxing space where people could experience the true essence of tea, like her parents did.
                  After completing her studies, Hsin-Yi moved to Halifax, Nova Scotia, a city known for its diverse and welcoming community.
                  She saw an opportunity to share her Taiwanese heritage by introducing a new concept in bubble tea culture.
               </p>
            </div>
         </div>
      </div>	
   </section>

   <!-- Start menu Area -->
   <section class="menu-area section-gap" id="coffee">
      <div class="container">
         <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
               <div class="title text-center">
                  <h1 class="mb-10">What kind of Coffee we serve for you</h1>
                  <p>Who are in extremely love with eco friendly system.</p>
               </div>
            </div>
         </div>						
         <div class="row">
            <div class="col-lg-4">
               <div class="single-menu">
                  <div class="title-div justify-content-between d-flex">
                     <h4>Cappuccino</h4>
                     <p class="price float-right">
                        $49
                     </p>
                  </div>
                  <p>
                     Usage of the Internet is becoming more common due to rapid advance.
                  </p>								
               </div>
            </div>
            <div class="col-lg-4">
               <div class="single-menu">
                  <div class="title-div justify-content-between d-flex">
                     <h4>Americano</h4>
                     <p class="price float-right">
                        $49
                     </p>
                  </div>
                  <p>
                     Usage of the Internet is becoming more common due to rapid advance.
                  </p>								
               </div>
            </div>
            <div class="col-lg-4">
               <div class="single-menu">
                  <div class="title-div justify-content-between d-flex">
                     <h4>Espresso</h4>
                     <p class="price float-right">
                        $49
                     </p>
                  </div>
                  <p>
                     Usage of the Internet is becoming more common due to rapid advance.
                  </p>								
               </div>
            </div>	
            <div class="col-lg-4">
               <div class="single-menu">
                  <div class="title-div justify-content-between d-flex">
                     <h4>Macchiato</h4>
                     <p class="price float-right">
                        $49
                     </p>
                  </div>
                  <p>
                     Usage of the Internet is becoming more common due to rapid advance.
                  </p>								
               </div>
            </div>
            <div class="col-lg-4">
               <div class="single-menu">
                  <div class="title-div justify-content-between d-flex">
                     <h4>Mocha</h4>
                     <p class="price float-right">
                        $49
                     </p>
                  </div>
                  <p>
                     Usage of the Internet is becoming more common due to rapid advance.
                  </p>								
               </div>
            </div>
            <div class="col-lg-4">
               <div class="single-menu">
                  <div class="title-div justify-content-between d-flex">
                     <h4>Coffee Latte</h4>
                     <p class="price float-right">
                        $49
                     </p>
                  </div>
                  <p>
                     Usage of the Internet is becoming more common due to rapid advance.
                  </p>								
               </div>
            </div>
            <div class="col-lg-4">
               <div class="single-menu">
                  <div class="title-div justify-content-between d-flex">
                     <h4>Piccolo Latte</h4>
                     <p class="price float-right">
                        $49
                     </p>
                  </div>
                  <p>
                     Usage of the Internet is becoming more common due to rapid advance.
                  </p>								
               </div>
            </div>
            <div class="col-lg-4">
               <div class="single-menu">
                  <div class="title-div justify-content-between d-flex">
                     <h4>Ristretto</h4>
                     <p class="price float-right">
                        $49
                     </p>
                  </div>
                  <p>
                     Usage of the Internet is becoming more common due to rapid advance.
                  </p>								
               </div>
            </div>
            <div class="col-lg-4">
               <div class="single-menu">
                  <div class="title-div justify-content-between d-flex">
                     <h4>Affogato</h4>
                     <p class="price float-right">
                        $49
                     </p>
                  </div>
                  <p>
                     Usage of the Internet is becoming more common due to rapid advance.
                  </p>								
               </div>
            </div>				
         </div>
      </div>	
   </section>
   <!-- End menu Area -->

   <!-- Start gallery Area -->
   <section class="gallery-area section-gap" id="gallery">
      <div class="container">
         <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                  <div class="title text-center">
                     <h1 class="mb-10">What kind of Coffee we serve for you</h1>
                     <p>Who are in extremely love with eco friendly system.</p>
                  </div>
            </div>
         </div>						
         <div class="row">
            <div class="col-lg-4">
                  <a href="{% static 'images/img/g1.jpg' %}" class="img-pop-home">
                     <img class="img-fluid" src="{% static 'images/img/g1.jpg' %}" alt="">
                  </a>	
                  <a href="{% static 'images/img/g2.jpg' %}" class="img-pop-home">
                     <img class="img-fluid" src="{% static 'images/img/g2.jpg' %}" alt="">
                  </a>	
            </div>
            <div class="col-lg-8">
                  <a href="{% static 'images/img/g3.jpg' %}" class="img-pop-home">
                     <img class="img-fluid" src="{% static 'images/img/g3.jpg' %}" alt="">
                  </a>	
                  <div class="row">
                     <div class="col-lg-6">
                        <a href="{% static 'images/img/g4.jpg' %}" class="img-pop-home">
                              <img class="img-fluid" src="{% static 'images/img/g4.jpg' %}" alt="">
                        </a>	
                     </div>
                     <div class="col-lg-6">
                        <a href="{% static 'images/img/g5.jpg' %}" class="img-pop-home">
                              <img class="img-fluid" src="{% static 'images/img/g5.jpg' %}" alt="">
                        </a>	
                     </div>
                  </div>
            </div>
         </div>
      </div>	
   </section>
   <!-- End gallery Area -->

   <!-- Start review Area -->
   <section class="review-area section-gap" id="review">
      <div class="container">
         <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                  <div class="title text-center">
                     <h1 class="mb-10">What kind of Coffee we serve for you</h1>
                     <p>Who are in extremely love with eco friendly system.</p>
                  </div>
            </div>
         </div>						
         <div class="row">
            <div class="col-lg-6 col-md-6 single-review">
                  <img src="{% static 'images/img/r1.png' %}" alt="">
                  <div class="title d-flex flex-row">
                     <h4>lorem ipsum</h4>
                     <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>								
                     </div>
                  </div>
                  <p>
                     Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                  </p>
            </div>	
            <div class="col-lg-6 col-md-6 single-review">
                  <img src="{% static 'images/img/r2.png' %}" alt="">
                  <div class="title d-flex flex-row">
                     <h4>lorem ipsum</h4>
                     <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>								
                     </div>
                  </div>
                  <p>
                     Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                  </p>
            </div>	
         </div>
         <div class="row counter-row">
            <div class="col-lg-3 col-md-6 single-counter">
                  <h1 class="counter">2536</h1>
                  <p>Happy Client</p>
            </div>
            <div class="col-lg-3 col-md-6 single-counter">
                  <h1 class="counter">7562</h1>
                  <p>Total Projects</p>
            </div>
            <div class="col-lg-3 col-md-6 single-counter">
                  <h1 class="counter">2013</h1>
                  <p>Cups Coffee</p>
            </div>
            <div class="col-lg-3 col-md-6 single-counter">
                  <h1 class="counter">10536</h1>
                  <p>Total Submitted</p>
            </div>																		
         </div>
      </div>	
   </section>
   <!-- End review Area -->

   <!-- Start blog Area -->
   <section class="blog-area section-gap" id="blog">
      <div class="container">
         <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                  <div class="title text-center">
                     <h1 class="mb-10">What kind of Coffee we serve for you</h1>
                     <p>Who are in extremely love with eco friendly system.</p>
                  </div>
            </div>
         </div>						
         <div class="row">
            <div class="col-lg-6 col-md-6 single-blog">
                  <img class="img-fluid" src="{% static 'images/img/b1.jpg' %}" alt="">
                  <ul class="post-tags">
                     <li><a href="#">Travel</a></li>
                     <li><a href="#">Life Style</a></li>
                  </ul>
                  <a href="#"><h4>Portable latest Fashion for young women</h4></a>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                  </p>
                  <p class="post-date">
                     31st January, 2018
                  </p>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                  <img class="img-fluid" src="{% static 'images/img/b2.jpg' %}" alt="">
                  <ul class="post-tags">
                     <li><a href="#">Travel</a></li>
                     <li><a href="#">Life Style</a></li>
                  </ul>
                  <a href="#"><h4>Portable latest Fashion for young women</h4></a>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                  </p>
                  <p class="post-date">
                     31st January, 2018
                  </p>
            </div>						
         </div>
      </div>	
   </section>
   <!-- End blog Area -->

   <!-- start footer Area -->		
   <footer class="footer-area section-gap">
      <div class="container">
         <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                  <div class="single-footer-widget">
                     <h6>About Us</h6>
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                     </p>
                     <p class="footer-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
   Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
   <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                     </p>								
                  </div>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-6">
                  <div class="single-footer-widget">
                     <h6>Newsletter</h6>
                     <p>Stay update with our latest</p>
                     <div class="" id="mc_embed_signup">
                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                              <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                              <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                              <div style="position: absolute; left: -5000px;">
                                 <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                              </div>

                              <div class="info pt-20"></div>
                        </form>
                     </div>
                  </div>
            </div>						
            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                  <div class="single-footer-widget">
                     <h6>Follow Us</h6>
                     <p>Let us be social</p>
                     <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                     </div>
                  </div>
            </div>							
         </div>
      </div>
   </footer>	
   <!-- End footer Area -->
   
   <script src="{% static 'js/bb-js/vendor/jquery-2.2.4.min.js' %}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="{% static 'js/bb-js/vendor/bootstrap.min.js' %}"></script>			
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
   <script src="{% static 'js/bb-js/easing.min.js' %}"></script>			
   <script src="{% static 'js/bb-js/hoverIntent.js' %}"></script>
   <script src="{% static 'js/bb-js/superfish.min.js' %}"></script>	
   <script src="{% static 'js/bb-js/jquery.ajaxchimp.min.js' %}"></script>
   <script src="{% static 'js/bb-js/jquery.magnific-popup.min.js' %}"></script>	
   <script src="{% static 'js/bb-js/owl.carousel.min.js' %}"></script>			
   <script src="{% static 'js/bb-js/jquery.sticky.js' %}"></script>
   <script src="{% static 'js/bb-js/jquery.nice-select.min.js' %}"></script>			
   <script src="{% static 'js/bb-js/parallax.min.js' %}"></script>	
   <script src="{% static 'js/bb-js/waypoints.min.js' %}"></script>
   <script src="{% static 'js/bb-js/jquery.counterup.min.js' %}"></script>					
   <script src="{% static 'js/bb-js/mail-script.js' %}"></script>	
   <script src="{% static 'js/bb-js/main.js' %}"></script>
</body>
</html>

<!-- Img Sources -->
<!-- https://www.freepik.com/free-photo/arrangement-with-delicious-traditional-thai-tea_15035747.htm -->
<!-- https://www.pexels.com/photo/taipei-seen-from-xiangshan-15586114/ -->