{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campsite Companions HFX Landing Page - Case Study</title>
    <link rel="icon" type="image/png" href="{% static 'images/campsite-companions-landing-page-imgs/favicon.ico' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page-css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/campsite-companions-landing-page.css' %}">
</head>

<body>
    <header>
        <!-- Nav Bar -->
        <div class="header-area">
            <div class="main-header">
                <div class="header-bottom header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="#">
                                        <img class="campsite-companions-logo" src="{% static 'images/campsite-companions-landing-page-imgs/logo.png' %}" alt="Logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li><a href="#home">Home</a></li>
                                                <li><a href="#about">About</a></li>
                                                <li><a href="#featured">Featured</a></li>
                                                <li><a href="#testimonials">Testimonials</a></li>
                                                <li><a href="#contact">Contact</a></li>
                                                <li class="nav-list-icon"><i class="fas fa-magnifying-glass"></i></li>
                                                <li class="nav-list-icon"><i class="fas fa-user"></i></li>
                                                <li class="nav-list-icon"><i class="fas fa-shopping-cart"></i></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- Hero -->
        <div class="slider-area position-relative" id="home">
            <div class="slider-active dot-style">
                <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                                <div class="hero__caption">
                                    <!-- <img data-animation="fadeInUp" data-delay=".1s"src="{% static 'images/campsite-companions-landing-page-imgs/dog.png' %}" class="dog" alt="Image of dog"> -->
                                    <h1 data-animation="fadeInUp" data-delay=".2s">Adventure Awaits</h1>
                                    <P data-animation="fadeInUp" data-delay=".4s">Gear Up with Your Best Friend!</P>
                                    <div class="hero__btn">
                                        <a href="#" class="hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Explore</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider hero-overly slider-height slider-bg2 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-11">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".2s">Pack the Essentials</h1>
                                    <P data-animation="fadeInUp" data-delay=".4s">Equip Your Pup for Every Adventure!</P>
                                    <div class="hero__btn">
                                        <a href="#" class="hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Browse</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider hero-overly slider-height slider-bg3 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".2s">From Tents to Treats</h1>
                                    <P data-animation="fadeInUp" data-delay=".4s">We Got You Covered!</P>
                                    <div class="hero__btn">
                                        <a href="#" class="hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Shop</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- About -->
        <div class="visit-tailor-area fix" id="about">
            <!-- Right Div -->
            <div class="tailor-offers"></div>
            <!-- Left Div -->
            <div class="tailor-details">
                <h2>About Us</h2>
                <p>Ever wonder how to turn your outdoor escapades into exciting adventures for both you and your best friend? Well, wonder no more!
                    <br><br>At Campsite Companions, we are committed to making every outdoor moment with your pup memorable.
                    We offer a great selection of outdoor supplies for both humans and dogs.
                    From strong leashes to collapsible water bowls to protective paw gear, we got you covered!
                    <br><br>For humans, we stock premium camping gear, including tents, sleeping bags, cooking equipment, and more, created with the best materials to guarantee durability and performance.
                    So, what are you waiting for? Embark on your next adventure with your campsite companion!</p>
                <a href="#" class="about-btn mt-4">Learn More</a>
            </div>
            <img src="{% static 'images/campsite-companions-landing-page-imgs/about-corner-img.png' %}" class="bottom-right-image" alt="Image of dog">
        </div>

        <!-- Featured Items -->
        <section class="image-gallery" id="featured">
            <div class="gallery-container">
                <h2 class="text-center">Featured Items</h2>
                <!-- Row 1 -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6 mb-4">
                        <div class="card">
                            <img src="{% static 'images/campsite-companions-landing-page-imgs/items/tent.png' %}" class="img-fluid" alt="Tent">
                            <div class="card-body text-center">
                                <h5 class="card-title">CC Easy Set-Up Light Tent</h5>
                                <p class="card-price">$134.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 mb-4">
                        <div class="card">
                            <img src="{% static 'images/campsite-companions-landing-page-imgs/items/sleeping-bag.png' %}" class="img-fluid" alt="Sleeping Bag">
                            <div class="card-body text-center">
                                <h5 class="card-title">CC Green/Orange Sleeping Bag</h5>
                                <p class="card-price">$64.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 mb-4">
                        <div class="card">
                            <img src="{% static 'images/campsite-companions-landing-page-imgs/items/thermus.png' %}" class="img-fluid" alt="Red Thermus">
                            <div class="card-body text-center">
                                <h5 class="card-title">ThermoMate Red Thermus</h5>
                                <p class="card-price">$45.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 mb-4">
                        <div class="card">
                            <img src="{% static 'images/campsite-companions-landing-page-imgs/items/leash.png' %}" class="img-fluid" alt="Leash">
                            <div class="card-body text-center">
                                <h5 class="card-title">CC 6ft Long Black Leash</h5>
                                <p class="card-price">$19.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row 2 -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6 mb-4">
                        <div class="card">
                            <img src="{% static 'images/campsite-companions-landing-page-imgs/items/dog-backpack.png' %}" class="img-fluid" alt="Dog Backpack">
                            <div class="card-body text-center">
                                <h5 class="card-title">Orange Dog Light Backback</h5>
                                <p class="card-price">$34.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 mb-4">
                        <div class="card">
                            <img src="{% static 'images/campsite-companions-landing-page-imgs/items/life-jacket.png' %}" class="img-fluid" alt="Life Jacket">
                            <div class="card-body text-center">
                                <h5 class="card-title">Camp Pet Life Jacket for Dogs</h5>
                                <p class="card-price">$59.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 mb-4">
                        <div class="card">
                            <img src="{% static 'images/campsite-companions-landing-page-imgs/items/coffee-maker.png' %}" class="img-fluid" alt="Coffee Maker">
                            <div class="card-body text-center">
                                <h5 class="card-title">Aluminum Espresso Coffee Maker</h5>
                                <p class="card-price">$32.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 mb-4">
                        <div class="card">
                            <img src="{% static 'images/campsite-companions-landing-page-imgs/items/dog-bowl.png' %}" class="img-fluid" alt="Dog Bowl">
                            <div class="card-body text-center">
                                <h5 class="card-title">Collapsible Dog Bowl Set</h5>
                                <p class="card-price">$61.49</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center features-btn-div">
                <a href="#" class="features-btn mt-4">Shop More</a>
            </div>
        </section>

        <!-- Divider -->
        <section class="section" id="divider">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="divider-content">
                            <!-- Text -->
                            <i id="email-icon" class="fa-solid fa-envelope fa-3x"></i>
                            <i id="paw-icon" class="fa-solid fa-paw fa-3x"></i>
                            <h2>Stay updated for your next trip!</h2>
                            <p>Sign up to our newsletter to get the latest news, discounts, and limited-time offers.</p>
                            <!-- Input -->
                            <div class="d-flex justify-content-center align-items-center">
                                <form class="d-flex newsletter-form" action="#" method="post">
                                    <input type="email" class="form-control email-input" placeholder="Sign up here..." required>
                                    <button type="submit" class="sign-up-btn"><i class="fas fa-arrow-right"></i></button>
                                </form>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials -->
        <section id="testimonials" class="testimonials-section">
            <div class="testimonials-container">
                <h2 class="text-center">Hear from our customers!</h2>
                <div class="d-flex justify-content-center align-items-center">
                    <i id="paw-icon-testimonials" class="fa-solid fa-paw fa-2x"></i>
                </div>
                <div class="row">
                    <!-- Testimonial 1 -->
                    <div class="col-md-4">
                        <div class="testimonial-card p-4 text-center">
                            <img src="{% static 'images/campsite-companions-landing-page-imgs/testimonial-img-1.png' %}" class="testimonial-img mb-5" alt="Picture of a woman">
                            <p class="testimonial-text">"Discovering Campsite Companions has been a game-changer for me and my Golden, Max. The heavy-duty leashes and protective paw gear mean I can take him on rougher trails without a worry."</p>
                            <h5 class="testimonial-name">Kelly R.</h5>
                            <p class="testimonial-position">Dog Trainer</p>
                        </div>
                    </div>
                    <!-- Testimonial 2 -->
                    <div class="col-md-4">
                        <div class="testimonial-card p-4 text-center">
                            <img src="{% static 'images/campsite-companions-landing-page-imgs/testimonial-img-2.png' %}" class="testimonial-img mb-5" alt="Piscture of a man">
                            <p class="testimonial-text">"I've used a lot of camping gear in my time, but the quality of equipment from Campsite Companions stands out. The tents and sleeping bags are top-notch!"</p>
                            <h5 class="testimonial-name">Mark S.</h5>
                            <p class="testimonial-position">Avid Camper</p>
                        </div>
                    </div>
                    <!-- Testimonial 3 -->
                    <div class="col-md-4">
                        <div class="testimonial-card p-4 text-center">
                            <img src="{% static 'images/campsite-companions-landing-page-imgs/testimonial-img-3.png' %}" class="testimonial-img mb-5" alt="Piscture of a man">
                            <p class="testimonial-text">"Every time I prepare for a hike, I make sure to grab the collapsible water bowls and high-energy dog treats from Campsite Companions. Their products ensure my dog, Buddy, is as prepared as I am."</p>
                            <h5 class="testimonial-name">Burt G.</h5>
                            <p class="testimonial-position">Proud Dog Owner</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-wrapper">
           <div class="footer-area footer-padding">
                <div class="container ">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <div class="footer-logo">
                                        <img class="footer-logo-img" src="{% static 'images/campsite-companions-landing-page-imgs/circular-logo.png' %}" alt="Logo">
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>Campsite Companions is a fake company created by Anaik Chacon. Anaik's projects are intended as case studies and conceptual exercises only. If there are any concerns about the contents shown in this website, please reach out.</p>
                                            <a href="{% url 'imagesources' %}" class="sources-btn mt-4" target="_blank">IMAGE SOURCES</a>
                                        </div>
                                    </div>
                                    <div class="footer-social">
                                        <a href="#"><i class="fab fa-linkedin"></i></a>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Shop by Category</h4>
                                    <ul>
                                            <li><a href="#">Apparel</a></li>
                                            <li><a href="#">Camping Gear</a></li>
                                            <li><a href="#">Equipment</a></li>
                                            <li><a href="#">Footware</a></li>
                                            <li><a href="#">Winter Items</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Company</h4>
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Reviews</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact us</h4>
                                    <ul>
                                        <li><a href="#">info@campsitecompanions.com</a></li>
                                        <li><a href="#">sales@campsitecompanions.com</a></li>
                                        <li class="number"><a href="#">(+1) 111-222-3333</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website was put together with the help of <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </footer>

      <!-- Scroll Up Button -->
      <div id="back-top" >
        <a title="Go to Top" href="#"><i class="fas fa-arrow-up"></i></a>
    </div>

    <script src="{% static 'js/campsite-companions-landing-page-js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/popper.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/slick.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/wow.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/animated.headline.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/gijgo.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/hover-direction-snake.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/jquery.form.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/plugins.js' %}"></script>
    <script src="{% static 'js/campsite-companions-landing-page-js/main.js' %}"></script>
</body>
</html>