{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anaik Chacon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Nav Bar -->
    <header class="bg-dark fixed-top">
        <nav class="container-xxl navbar navbar-expand-lg py-3 bg-dark navbar-dark">
            <div class="container-fluid">
                <div class="logo-div">
                    <a class="navbar-brand navbar-text ml-1" href="/">Anaik Chacon</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2"><a class="nav-link" href="/">HOME</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="/projects">PROJECTS</a></li>
                </div>
            </div>
        </nav>
    </header>

    <!-- Projects Header -->
    <div class="slider-item innerp overlay" data-stellar-background-ratio="0.5" id="hero">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-lg-12 col-sm-12">
              <h1 class="mb-4">Projects</h1>
              <h4 class="mb-4">Check out my recent personal projects!<br>These examples are intended as case studies and conceptual exercises.</h4>
              <p class="custom-breadcrumbs"><a href="/">Home</a> <span class="mx-3">/</span>Projects</p>
            </div>
          </div>
        </div>
    </div>

    <!-- Projects -->
    <div class="section">
        <div class="basic-1" id="services" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="image-container">
                            <a href="/brand-guide">
                                <img class="img-fluid" src="{% static 'images/brand-guide-projects-page.png' %}" alt="Brand Guide Presentation Main Page">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-container">
                            <div class="text-container-text">
                                <h2 class="">Anaik Chacon Design</h2>
                                <p class="">When I first started my web and graphic design portfolio, I wasn't sure where to start. So, I started by designing my own brand.
                                    After all, I'm my own best client and critique! I focused on creating somthing that showed my skills while also reflecting a vibe I personally resonated with.</p>
                            </div>
                            <div class="text-container-btn mt-5">
                                <a href="/brand-guide"><button class="btn btn-outline-light text-uppercase projects-learn-more-btn">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="basic-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="image-container">
                            <a href="/boba-bar">
                                <img class="img-fluid" src="{% static 'images/boba-bar-projects-page.png' %}" alt="The Boba Bar Presentation Main Page">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-container">
                            <div class="text-container-text">
                                <h2>The Boba Bar</h2>
                                <p>Enjoy your bubble tea in a bougie and serene bar atmosphere! Would you like to try our new Milk Tea with Baileys or our classic Brown Sugar Milk Tea with Bourbon? Take your pick!</p>
                            </div>
                            <div class="text-container-btn mt-5">
                                <a href="/boba-bar"><button class="btn btn-outline-light text-uppercase projects-learn-more-btn">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="basic-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="image-container">
                            <a href="/campsite-companions">
                                <img class="img-fluid" src="{% static 'images/campsite-companions-projects-page.png' %}" alt="Campsite Companions Main Page">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-container">
                            <div class="text-container-text">
                                <h2>Campsite Companions</h2>
                                <p>Campsite Companions has all the gear you and your dog need for an epic outdoor adventure, from backpacks and leashes to tents and cooking gear. Let the tails hit the trail!</p>
                            </div>
                            <div class="text-container-btn mt-5">
                                <a href="/campsite-companions"><button class="btn btn-outline-light text-uppercase projects-learn-more-btn">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="basic-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="image-container">
                            
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-container">
                            <div class="text-container-text">
                                <h2>Clay Cafe Rebrand</h2>
                                <p>Clay Cafe is a Nova-Scotian based company formarly located in Halifax. Clay Cafe is the focus of this reimagining brand project</p>
                            </div>
                            <div class="text-container-btn mt-5">
                                <a href=""><button class="btn btn-outline-light text-uppercase projects-learn-more-btn">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="basic-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="image-container">
                        
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-container">
                            <div class="text-container-text">
                                <h2>Leaflet Program</h2>
                                <p>There's this open-source JavaScript library for interactive maps. Here's a small program I made with it.</p>
                            </div>
                            <div class="text-container-btn mt-5">
                                <a href=""><button class="btn btn-outline-light text-uppercase projects-learn-more-btn">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="basic-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="image-container">
                        
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-container">
                            <div class="text-container-text">
                                <h2>Crochet</h2>
                                <p>I started crocheting in 2023. Here are some projects I've made until now.</p>
                            </div>
                            <div class="text-container-btn mt-5">
                                <a href=""><button class="btn btn-outline-light text-uppercase projects-learn-more-btn">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="basic-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="image-container">
                        
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-container">
                            <div class="text-container-text">
                                <h2>Communications Certificate</h2>
                                <p>The Department of Labour, Skills & Immigration (LSI) from the Government of Nova Scotia has a Workplace Education Initiative (WEI) program.
                                    The WEI program promotes and supports business skills development by increasing knowledge and enhancing critical workplace skills.
                                    As part of my professional development, I completed the communication skills for supervisors program of 40 hours under my work with Pisces
                                    Research Project Management Inc. on January 2024.</p>
                            </div>
                            <div class="text-container-btn mt-5">
                                <a href=""><button class="btn btn-outline-light text-uppercase projects-learn-more-btn">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
   <!-- Footer -->
   <br>
   <br>
   <br>
   <footer class="mt-5">
        <div class="container flex-wrap py-5 px-0 d-flex align-items-center justify-content-center justify-content-md-between">
            <p class="copyright my-0">© 2024 Anaik Chacon</p>
            <a id="footer-back-to-top-link" class="smoothscroll" href="#hero">
                <button type="button" class="btn btn-outline-light text-uppercase px-3 py-2 back-to-top-btn">
                    Top <i id="footer-back-to-top-icon" class="fa-solid fa-circle-up fa-lg"></i>
                </button>
            </a>
            <div class="footer-icons-div">
                <ul class="social-icons mb-0 d-flex">
                    <a href="https://www.instagram.com/ach555/" target="_blank" class="mx-2 d-flex align-items-center justify-content-center text-decoration-none">
                        <img class="footer-instagram-logo" src="{% static 'images/instagram-logo.png' %}" alt="Instagram logo">
                    </a>
                    <a href="https://www.linkedin.com/in/anaik-chacon-828b161a3/" target="_blank" class="mx-2 d-flex align-items-center justify-content-center text-decoration-none rounded-circle">
                        <i id="footer-linkedin-logo" class="fa-brands fa-2x fa-linkedin"></i>
                    </a>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>